@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'JetBrains Mono', monospace;
    background: #343330;
    color: #FFFAFF;
}

.cardHeader{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.contentInicial{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 180px;
    gap: 1rem;
}

.contentAboutMe{
    display: flex;
    justify-content: space-between;
}

.contentLeft{
    padding: 1rem;
}

.itensMenu{
    display: flex;
}

.links{
    margin-top: 50px;
}

.linkHeader:hover{
    text-decoration: underline;
    color: #FAFF70;
}

.contentProjects{
    margin-top: 50px;
}

.infoProject1{
    display: flex;
    justify-content: space-between;
}

.cardProject1{
    border: 1px solid white;
}

#linkLinkedin{
    width: 50px;
    height: 50px;
}

#linkGithub{
    width: 52px;
    height: 52px;
}

#linkWhatsapp{
    width: 52px;
    height: 52px;
}

#caretDown{
    margin-top: 100px;
}

#titleName{
    color: #FAFF70;
}

#photo{
    width: 170px;
    height: 170px;
}

#titleAboutMe{
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
    color: #FAFF70;
}

#aboutMe{
    margin-top: 150px;
}

#titleProjects{
    text-align: center;
    margin-top: 150px;
    text-decoration: underline;
    color: #FAFF70;
}

#infoProject1{
    padding: 1rem;
}

#titleProject1{
    color: #FAFF70;
    padding: 1rem;
}

#infoRepo1{
    padding: 1rem;
}

#buttonRepo1{
    width: 350px;
    height: 50px;
    border-radius: 8px;
    font-size: 15px;
}

#buttonRepo1:hover{
    background-color: #FAFF70;
    cursor: pointer;
}


li{
    margin-left: 30px;
    list-style: none;
}

a{
    color: #FFFAFF;
    text-decoration: none;
}