<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Portifólio</title>
</head>
<body>
    <div class="contentHeader">
        <div class="cardHeader">
            <div class="title">
                <h2><span id="titleP">P</span>ortifólio</h2>
            </div>
            <div class="menu">
                <ul class="itensMenu">
                    <li><a class="linkHeader" href="paginaInicialLink">Página Inicial</a></li>
                    <li><a class="linkHeader" href="sobreMimLink">Sobre Mim</a></li>
                    <li><a class="linkHeader" href="projetosLink">Projetos</a></li>
                    <li><a class="linkHeader" href="contatosLink">Contatos</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="contentInicial">
        <div class="name">
            <h1>Olá, eu sou <span id="titleName">Gleison!</span></h1>
        </div>
        <p id="subtitle">
            Sou um desenvolvedor Full Stack, apaixonado por esse universo tecnológico <br>
            e que busca trazer melhoria na vida das pessoas por meio da tecnologia.
        </p>
        <div class="links">
            <a href="https://www.linkedin.com/in/gleison-ribeiro-dev/">
                <img id="linkLinkedin" src="../../assets/linkedin-logo-thin.svg" alt="Img do linkedin">
            </a>
            <a href="https://github.com/Gleison-dev">
                <img id="linkGithub" src="../../assets/github-logo-thin.svg" alt="Img do github">
            </a>
            <a href="https://wa.me/557798745310">
                <img id="linkWhatsapp" src="../../assets/whatsapp-logo-thin.svg" alt="Img do whatsapp">
            </a>
        </div>
        <div class="caretDown">
            <img id="caretDown" src="../../assets/caret-down-thin.svg" alt="seta para baixo">
        </div>
    </div>
    <div class="titleAboutMe">
        <h2 id="titleAboutMe">
            Sobre Mim
        </h2>
    </div>
    <div class="contentAboutMe">
        <div class="contentLeft">
            <div class="photo">
                <img id="photo" src="../../assets/avatar-icon.png" alt="Img do avatar">
            </div>
            <div class="infoAboutMe">
                <p id="infoABoutMe">
                    Nome: Gleison Ribeiro Gomes <br>
                    Idade: 17 Anos <br>
                    Cidade: Bom Jesus da Lapa/Ba <br>
                </p>
            </div>
        </div>
        <div class="contentRight">
            <p id="aboutMe">
                Sou apaixonado pela área da tecnologia e comecei a me interessar pela programação por causa dos jogos <br>
                então eu sempre tive a curiosidade de como aplicativos e websites funcionam e com isso eu conheci o universo <br>
                da programação, e atualmente eu estudo desenvolvimento full stack através do Programadores do Amanhã. <br>
                <br>
                Possuo habilidades em: HTML, CSS, JavaScript, Node.js, Express, Python, SQL, Git, GitHub
            </p>
        </div>
    </div>
    <div class="titleProjects">
        <h2 id="titleProjects">
            Projetos
        </h2>
    </div>
    <div class="contentProjects">
        <div class="cardProject1">
            <div class="titleProject1">
                <h3 id="titleProject1">
                    Biotech API
                </h3>
            </div>
            <div class="infoProject1">
                <p id="infoProject1">
                    O projeto Biotech API tem como principal objetivo ajudar <br>
                    os pequenos e médios produtores, que possuem a dificuldade <br>
                    de controlar e gerenciar a sua produção. Tendo essa problemática <br>
                    a Biotech API surgiu para ajudar essas pessoas, trazendo soluções como: <br>
                    Catálogo de produtos e relatório de produção em KG. <br>
                    Técnologia usadas: Node.js, Express.
                </p>
                <div class="buttonRepo1">
                    <p id="infoRepo1">
                        Link do Repositório no GitHub abaixo: <br>
                        <a id="linkRepo1" href="https://github.com/Gleison-dev/miniProjetoV2.git">
                            <button id="buttonRepo1">Clique Aqui</button>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

